body{
	color: rgb(255,255,255);
	text-align: center;
}	
h1{
	color: rgb(255,255,255);
}

.black{
	color: #232323;
}

.spaceButton{
	margin-top: 0.5%;
}
.header-centre {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.brand-centre {float:none;}