<%include ../partials/header%>
<% include ..\partials\forManager %>
<h1>Manager</h1>
 <a class="btn btn-primary" href="/Manager/CLE">Check Leave Entry</a>
<a class="btn btn-primary" href="/Manager/CFB">Check Feedback</a>
<a class="btn btn-primary" href="/Manager/ReviewMenu">Review Mess Menu</a>
<a class="btn btn-primary" href="/Manager/UploadBill">Upload Bills</a>
<a class="btn btn-primary" href="/Manager/show">Show Students</a>

<%include ../partials/footer%>