<%include ../partials/header%>
<% include ../partials/forManager %>
<div style="text-align: center">
	<h1>SignUp</h1>
	<form action="/Manager/SignUp" method="POST" class="black">
	    <input type="text" name="username" placeholder="username">
	    <input type="password" name="password" placeholder="password">
	    <input type="submit" class="btn btn-success" value="Signup!">
	</form>
</div>

<% include ../partials/footer %> 