<%include ../partials/header%>
<% include ../partials/forStudent %>


<% bill.forEach(function(value){ %>
		
		<div class="containor">
			<%= value.month%> <%= value.bill%>
			</div>
		<hr>
	
<% }); %>

<div><a href="/Student" class="btn btn-primary">BACK</a></div>
<%include ../partials/footer%>