<%include ../partials/header%>
<% include ../partials/forStudent %>

<form method="POST" action="/Student/FB">
		<div class="row black">
			<div class="col-lg-12 col-md-12">
				<input type="text" name="review" placeholder="Feedback" required>
			</div>
		</div>
			<br>
		<input type="submit" class="btn btn-success" value="Submit">
</form>


<%include ../partials/footer%>