<%include ../partials/header%>
<% include ../partials/forStudent %>

	<h1>Login!</h1>
	<form action="/Student/login" class="black" method="POST">
	    <input type="Number" name="rollNumber" placeholder="Roll Number">
	    <input type="password" name="password" placeholder="password">
	    <input type="submit" class="btn btn-primary" value="Login!">
	</form>

<%include ../partials/footer%>