<%include ../partials/header%>
<% include ../partials/forStudent %>
<h1>Student tab</h1>

<a class="btn btn-primary" href="/Student/MLE">Mark Leave Entry</a>
<a class="btn btn-primary" href="/Student/FB">Feedback</a>
<a href="/Menu" class="btn btn-primary">Check Mess Menu</a>
<a class="btn btn-primary" href="/Student/Bill">Check Mess Bill</a>

<%include ../partials/footer%>